/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #d3d2d2; */
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
    color: #000000;
    /* background-size: auto; */
    /* background-repeat: no-repeat; */
    background-position: left top;
    background-attachment: scroll;
}

header {
    position: relative;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    margin-top: 50px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgb(133, 133, 133);
    color: #dfdfdf;

}

.header-header {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    z-index: 2;
}

.header-text {
    margin-top: 0px;
    font-size: 50px;
    font-weight: bold;
}

#language-flags {
    position: absolute;
    top: 15%;
    right: 0; /* Position on the right */
    transform: translateY(-50%);
}

/* Position the expand list on the left side of the page */
.expand-list {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #e6e6e600;
    padding: 10px;
    overflow: hidden;
    display: flex; /* Display the buttons in a row */
    flex-direction: column; /* Stack the buttons vertically */
}

/* Style for the expand button */
.expand-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #e6e6e600;
    padding: 2px;
    justify-content: left;
    transition: padding 0.3s ease; /* Add transition for padding property */
    margin-bottom: 10px; /* Add some space between buttons */
}

/* Tooltip Styles */
.tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
}

.tooltip.active {
    display: block;
    top: 59%;
    left: 55px;
    position: fixed;
}

/* Style for the custom icon */
.custom-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 10px;
    background-color: #e6e6e600;
    border-radius: 50%;
}

.custom-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.photo {
    max-width: 300px;
}

.photo-carousel {
    max-width: 80%;
    max-height: 500px;
}

/* Flags styles */
#language-flags {
    float: right;
    /* margin-top: 1rem; */
}

/* Flags pics styles */
#language-flags img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Sections styles */
.animated-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-centered-section {
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    min-height: 100vh; /* Минимальная высота, чтобы секция была по центру экрана */
}

.animated-section:first-child {
    display: block; /* Show only the first section */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e6e6e6;
    text-align: center;
    z-index: 1000;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    z-index: 1000;
    margin-right: 20px;
}

nav a {
    font-size: 22px;
    padding: 10px 10px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* Add line-height to move the text down */
    z-index: 1000;
    line-height: 50px; /* Adjust this value as needed */
}

/* Add a class for the active navigation link */
.nav-link .active-link {
    color: rgb(255, 117, 48); /* Change the color as desired */
}

/* Mobile icon styling */
.mobile-icon {
    display: none; /* Hide by default for larger screens */
    cursor: pointer;
}
  
.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(62, 62, 62);
    margin: 5px 0;
}

/* Add styles for the skill elements */
.skill {
    cursor: default;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    flex: 1;
    display: inline-block;
    flex-wrap: wrap; /* Wrap to the next line when there's not enough space */
    gap: 20px; /* Space between skill elements */
    min-width: 100px; /* Set a minimum width for each skill element */
    max-width: 80%;
    text-align: center; /* Center the skills horizontally */
    transition: box-shadow 0.3s ease; /* Add transition for box-shadow */
}

.skill p {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}

.skill:hover {
    box-shadow: 0 10px 16px rgba(80, 80, 80, 0.366);
}

.skills-section {
    padding-bottom: 50px;
}

/* Section styles */
section {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
    width: 70%;
    margin: 2rem auto;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
}

.carousel-section {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
    width: 70%;
    /* margin: 2rem auto; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    position: relative;
}

.carousel-container {
    overflow: hidden;
    width: 100%; /* Set the width for the carousel container */
    margin: 0 auto; /* Center the carousel container */
    height: auto; /* Set the height for the carousel container */
}

.carousel-list {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Update to match the number of carousel items */
    transform: translateX(0); /* Set the initial transform to show the first item */
    height: auto; /* Set the height for the carousel items */
}

.carousel-item {
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto; /* Set the height for the carousel items */
}

.carousel-item.active {
    display: flex; /* Show only active element */
    transform: translateY(0); /* Reset vertical bias for active element */
    opacity: 1; /* Reset transparency for active element */
}

.carousel-navigation {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 0px; /* Adjust this value to move buttons closer */
    margin-right: 0px; /* Adjust this value to move buttons closer */
    max-width: 100%; /* Adjust this value if needed */
}

.prev-button, .next-button {
    padding: 15px;
    cursor: pointer;
    /* margin: 0 150px; */
    background-color: #f0f0f0;
    border: none;
    border-radius: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 2;
}

.prev-button {
    left: 0;
}

.next-button {
    order: 3;
    right: 0;
}

/* Portfolio styles */
.project {
    margin-bottom: 2rem;
}

.project img {
    max-width: 100%;
}

/* Contact styles */
#contact {
    background-color: #f4f4f4;
    color: #000000;
    /* padding: 2rem 0; */
    text-align: center;
    width: 70%;
    margin: 0 auto;
    /* border: #000000; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact a {
    color: #000000;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #00000000;
}

.home-button {
    position: fixed;
    bottom: 65px;
    right: 65px;
    display: none;
    z-index: 1000;
    background-color: #f0f0f0;
    width: 55px; /* Explicitly set width */
    height: 55px; /* Explicitly set height */
    line-height: 55px; /* Vertically center the content */
    text-align: center; /* Horizontally center the content */
    border-radius: 50%;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 320px) {
    .header-header {
        font-size: 40px;
    }
    
    .header-text {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .mobile-icon {
        display: block; /* Show the hamburger icon on smaller screens */
    }
    
    nav {
        height: auto;
    }
    
    .nav-link {
        display: none; /* Hide the nav links by default */
        flex-direction: column;
        background-color: #e6e6e6;
        width: auto;
        position: absolute;
        top: 100%;
        margin: 0;
        z-index: 2;
        justify-content: center;
    }
    
    nav a {
        font-size: 20px;
        line-height: 20px; /* Adjust this value as needed */
    }
    
    .nav-link.active {
        display: flex; /* Show the nav links when the menu is active */
    }
    
    .nav-link li {
        padding: 10px;
        text-align: center;
        margin: auto;
    }

    /* left bar icons */
    .expand-button{
        margin-bottom: 5px; /* Space between buttons */
    }

    .custom-icon {
        width: 20px;
        height: 20px;
    }

    .expand-list {
        padding: 2px;
    }

    .tooltip.active {
        display: block;
        top: 56%;
        left: 35px;
        position: fixed;
    }

    /* Add styles for the skill elements */
    .skill {
        padding: 5px;
        margin: 5px 5px;
        gap: 10px; /* Space between skill elements */
        min-width: 55px; /* Set a minimum width for each skill element */
    }

    .skill p {
        font-size: 11px;
    }
    
    .home-button {
        bottom: 20px;
        right: 20px;
    }
    
    .photo {
        max-width: 150px;
    }

    .photo-carousel {
        max-width: 80%;
        max-height: 300px;
    }
    
    .carousel-navigation {
        padding: 0px;
    }
    
    .section {
        padding: 10px;
        margin-top: 0px;
        width: 73%;
    }
    
    section.carousel-section {
        padding: 0px;
        padding-top: 10px;
        width: 80%;
    }
    
    section.carousel-section .prev-button,
    section.carousel-section .next-button {
        background-color: #f0f0f000;
        padding: 7px;
    }
}

@media (min-width: 321px) and (max-width: 425px) {
    .header-header {
        font-size: 55px;
    }
    
    .header-text {
        margin-top: 10px;
        font-size: 30px;
    }

    .mobile-icon {
        display: block; /* Show the hamburger icon on smaller screens */
    }
    
    nav {
        height: auto;
    }
    
    .nav-link {
        display: none; /* Hide the nav links by default */
        flex-direction: column;
        background-color: #e6e6e6;
        width: auto;
        position: absolute;
        top: 100%;
        margin: 0;
        z-index: 2;
        justify-content: center;
    }
    
    nav a {
        font-size: 20px;
        line-height: 20px; /* Adjust this value as needed */
    }
    
    .nav-link.active {
        display: flex; /* Show the nav links when the menu is active */
    }
    
    .nav-link li {
        padding: 10px;
        text-align: center;
        margin: auto;
    }

    /* left bar icons */
    .expand-button{
        margin-bottom: 4px; /* Space between buttons */
    }

    .custom-icon {
        width: 25px;
        height: 25px;
    }
    
    .expand-list {
        padding: 4px;
    }
    
    .tooltip.active {
        display: block;
        top: 57%;
        left: 37px;
        position: fixed;
    }

    /* Add styles for the skill elements */
    .skill {
        padding: 7px;
        margin: 5px 5px;
        gap: 10px; /* Space between skill elements */
        min-width: 60px; /* Set a minimum width for each skill element */
    }

    .skill p {
        font-size: 13px;
    }
    
    .home-button {
        bottom: 20px;
        right: 20px;
    }
    
    .photo {
        max-width: 150px;
    }
    
    .carousel-navigation {
        padding: 0px;
    }
    
    .section {
        padding: 10px;
        margin-top: 0px;
        width: 75%;
    }
    
    section.carousel-section {
        padding: 0px;
        padding-top: 10px;
        width: 80%;
    }
    
    section.carousel-section .prev-button,
    section.carousel-section .next-button {
        background-color: #f0f0f000;
        padding: 7px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .header-header {
        font-size: 60px;
    }
    
    .header-text {
        margin-top: 10px;
        font-size: 35px;
    }

    .mobile-icon {
        display: block; /* Show the hamburger icon on smaller screens */
    }
    
    nav {
        height: auto;
    }
    
    .nav-link {
        display: none; /* Hide the nav links by default */
        flex-direction: column;
        background-color: #e6e6e6;
        width: auto;
        position: absolute;
        top: 100%;
        margin: 0;
        z-index: 2;
        justify-content: center;
    }
    
    nav a {
        font-size: 20px;
        line-height: 20px; /* Adjust this value as needed */
    }
    
    .nav-link.active {
        display: flex; /* Show the nav links when the menu is active */
    }
    
    .nav-link li {
        padding: 10px;
        text-align: center;
        margin: auto;
    }
    
    /* left bar icons */
    .expand-button{
        margin-bottom: 8px; /* Space between buttons */
    }
    
    .custom-icon {
        width: 30px;
        height: 30px;
    }
    
    .expand-list {
        padding: 5px;
    }
    
    .tooltip.active {
        display: block;
        top: 58%;
        left: 45px;
        position: fixed;
    }

    /* Add styles for the skill elements */
    .skill {
        padding: 8px;
        margin: 8px 8px;
        gap: 13px; /* Space between skill elements */
        min-width: 65px; /* Set a minimum width for each skill element */
    }

    .skill p {
        font-size: 14px;
    }
    
    .home-button {
        bottom: 20px;
        right: 20px;
    }
    
    .photo {
        max-width: 150px;
    }
    
    .carousel-navigation {
        padding: 0px;
    }
    
    .section {
        padding: 10px;
        margin-top: 0px;
        width: 76%;
    }
    
    section.carousel-section {
        padding: 0px;
        padding-top: 10px;
        width: 80%;
    }
    
    section.carousel-section .prev-button,
    section.carousel-section .next-button {
        background-color: #f0f0f000;
        padding: 7px;
    }
}

