/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

/* Position the expand list on the left side of the page */
.expand-list {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #e6e6e600;
    color: #e6e6e600;
    padding: 10px;
    overflow: hidden;
    display: flex; /* Display the buttons in a row */
    flex-direction: column; /* Stack the buttons vertically */
}

/* Style for the expand button */
.expand-button {
    display: flex;
    align-items: center;
    background-color: #e6e6e600;
    padding: 10px;
    justify-content: left;
    transition: padding 0.3s ease; /* Add transition for padding property */
    margin-bottom: 10px; /* Add some space between buttons */
}

/* Style for the expanded text */
.expand-list:hover .expand-text {
    opacity: 1;
    max-width: 250px; /* Adjust the width as needed */
    transition: opacity 0.3s ease, max-width 0.3s ease; /* Add transitions */
}

/* Style for the custom icon */
.custom-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 10px;
    background-color: #e6e6e600;
    border-radius: 50%;
}

.custom-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Style for the expanded text */
.expand-text {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: opacity 0.3s ease, max-width 0.3s ease; /* Add transitions */
    color: #343131;
    font-size: 24px;
}
/* 
.expand-button:hover .expand-text {
    opacity: 1;
} */


header {
    position: relative;
    background-color: #ffffff00;
    text-align: center;
    padding: 2rem 0;
}

.header-text {
    margin-top: 100px;
}

.photo {
    max-width: 300px;

}

.centered-head {
    position: absolute; /* Устанавливаем позицию как абсолютную */
    top: 50%; /* Позиционируем заголовок по вертикали */
    left: 50%; /* Позиционируем заголовок по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем по обеим осям */
    margin: 0; /* Убираем отступы */
}

/* Flags styles */
#language-flags {
    float: right;
    margin-top: 1rem;
}

/* Flags pics styles */
#language-flags img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Sections styles */
.animated-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-centered-section {
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    min-height: 100vh; /* Минимальная высота, чтобы секция была по центру экрана */
}

.animated-section:first-child {
    display: block; /* Show only the first section */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e6e6e6;
    text-align: center;
    z-index: 1000;
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* Add line-height to move the text down */
    line-height: 50px; /* Adjust this value as needed */
}

/* Section styles */
section {
    padding: 2rem;
    text-align: center;
}

.carousel-section {
    /* padding: 20px; */
    text-align: center;
}

.carousel-container {
    overflow: hidden;
    width: 85%; /* Занимает 50% ширины экрана */
    margin: 0 auto; /* Центрирование по горизонтали */
}

.carousel-list {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Update to match the number of carousel items */
    transform: translateX(0); /* Set the initial transform to show the first item */
}

.carousel-item {
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-item.active {
    display: flex; /* Show only active element */
    transform: translateY(0); /* Reset vertical bias for active element */
    opacity: 1; /* Reset transparency for active element */
}

.carousel-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.prev-button, .next-button {
    padding: 15px;
    cursor: pointer;
    margin: 0 150px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 100%;
}

.next-button {
    order: 3;
}

.home-button {
    position: fixed;
    bottom: 65px;
    right: 65px;
    display: none;
    z-index: 1000;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 50%;
}

.home-button img {
    width: 55px; /* Adjust the size of the icon as needed */
    height: 55px;
    display: block;
}

/* Portfolio styles */
.project {
    margin-bottom: 2rem;
}

.project img {
    max-width: 100%;
}

/* Contact styles */
#contact {
    background-color: rgba(255, 178, 126, 0.75);
    color: #000000;
    padding: 2rem 0;
    text-align: center;
}

#contact a {
    color: #000000;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #00000000;
}